In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "ISO-8859-1")

In [14]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [15]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Area Code,60943.0,NaN,NaN,NaN,134.265576,72.605709,4.0,74.0,136.0,195.0,276.0
Area,60943,49,Kenya,1560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item Code,60943.0,NaN,NaN,NaN,2687.176706,146.055739,2501.0,2562.0,2630.0,2775.0,2961.0
Item,60943,119,Milk - Excluding Butter,1262,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Element Code,60943.0,NaN,NaN,NaN,3814.856456,2212.007033,511.0,684.0,5142.0,5511.0,5911.0
Element,60943,18,Domestic supply quantity,5295,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unit,60943,5,1000 tonnes,40933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2014,59354.0,NaN,NaN,NaN,134.196282,1567.663696,-1796.0,0.0,0.09,8.34,176405.0
Y2015,59395.0,NaN,NaN,NaN,135.235966,1603.403984,-3161.0,0.0,0.08,8.46,181137.0
Y2016,59408.0,NaN,NaN,NaN,136.555222,1640.007194,-3225.0,0.0,0.08,8.43,185960.0
Y2017,59437.0,NaN,NaN,NaN,140.917765,1671.862359,-1582.0,0.0,0.1,9.0,190873.0
Y2018,59507.0,NaN,NaN,NaN,143.758381,1710.782658,-3396.0,0.0,0.07,9.0,195875.0

In [16]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [23]:
dfu = df.loc[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]

In [32]:
Total = dfu.groupby(['Y2015']).sum()
dfu.loc['Total'] = pd.Series(dfu['Y2015'].sum(), index=['Y2015'])
print(dfu)

       Area Code        Area  Item Code                      Item  \
30718      129.0  Madagascar     2901.0               Grand Total
30721      129.0  Madagascar     2903.0          Vegetal Products
30724      129.0  Madagascar     2941.0           Animal Products
30740      129.0  Madagascar     2905.0  Cereals - Excluding Beer
30756      129.0  Madagascar     2511.0        Wheat and products
...          ...         ...        ...                       ...
32123      129.0  Madagascar     2775.0            Aquatic Plants
32133      129.0  Madagascar     2928.0             Miscellaneous
32142      129.0  Madagascar     2680.0               Infant food
32152      129.0  Madagascar     2899.0             Miscellaneous
Total        NaN         NaN        NaN                       NaN

       Element Code                                 Element          Unit  \
30718         674.0  Protein supply quantity (g/capita/day)  g/capita/day
30721         674.0  Protein supply quantity (g/capita/day)  g/capita/day
30724         674.0  Protein supply quantity (g/capita/day)  g/capita/day
30740         674.0  Protein supply quantity (g/capita/day)  g/capita/day
30756         674.0  Protein supply quantity (g/capita/day)  g/capita/day
...             ...                                     ...           ...
32123         674.0  Protein supply quantity (g/capita/day)  g/capita/day
32133         674.0  Protein supply quantity (g/capita/day)  g/capita/day
32142         674.0  Protein supply quantity (g/capita/day)  g/capita/day
32152         674.0  Protein supply quantity (g/capita/day)  g/capita/day
Total           NaN                                     NaN           NaN

       Y2014   Y2015  Y2016  Y2017  Y2018
30718  44.45   43.26  43.35  43.94  44.17
30721  35.43   34.04  33.96  34.47  34.81
30724   9.02    9.23   9.38   9.47   9.36
30740  27.97   27.26  27.38  27.97  28.19
30756   2.09    2.14   2.53   2.88   3.15
...      ...     ...    ...    ...    ...
32123   0.00    0.00   0.00   0.00   0.00
32133   0.02    0.02   0.02   0.02   0.02
32142   0.00    0.00   0.00   0.00   0.00
32152   0.01    0.01   0.01   0.01   0.01
Total    NaN  173.05    NaN    NaN    NaN

[112 rows x 12 columns]

C:\Users\CLASS\AppData\Local\Temp\ipykernel_216\2191229127.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Total = dfu.groupby(['Y2015']).sum()
C:\Users\CLASS\AppData\Local\Temp\ipykernel_216\2191229127.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfu.loc['Total'] = pd.Series(dfu['Y2015'].sum(), index=['Y2015'])

In [39]:
df1 = df[['Y2017', 'Area']]
df1

          Y2017      Area
0      41389.00   Algeria
1          0.00   Algeria
2       3341.00   Algeria
3         92.82   Algeria
4         80.19   Algeria
...         ...       ...
60939      1.33  Zimbabwe
60940      1.00  Zimbabwe
60941      0.04  Zimbabwe
60942      0.02  Zimbabwe
Total       NaN       NaN

[60944 rows x 2 columns]

SyntaxError: invalid syntax (1132342583.py, line 1)

In [41]:
df1.groupby(['Area']).agg('max')

                                 Y2017
Area
Algeria                       41389.00
Angola                        29817.00
Benin                         11175.00
Botswana                       2341.00
Burkina Faso                  19193.00
Cabo Verde                     2530.00
Cameroon                      24566.00
Central African Republic       4596.00
Chad                          15017.00
Comoros                          16.65
Congo                          5111.00
CÃ´te d'Ivoire                 24437.00
Djibouti                       2664.00
Egypt                         96443.00
Eswatini                       5553.00
Ethiopia                     106400.00
Ethiopia PDR                      0.00
Gabon                          2640.00
Gambia                         2544.00
Ghana                         29121.00
Guinea                        12068.00
Guinea-Bissau                  2233.00
Kenya                         50221.00
Lesotho                        2475.00
Liberia                        4702.00
Madagascar                    25571.00
Malawi                        17670.00
Mali                          18512.00
Mauritania                    51864.00
Mauritius                      3713.00
Morocco                       38348.00
Mozambique                    28649.00
Namibia                        2465.00
Niger                         21602.00
Nigeria                      190873.00
Rwanda                        11981.00
Sao Tome and Principe          2407.00
Senegal                       15419.00
Seychelles                      204.02
Sierra Leone                   7488.00
South Africa                  57010.00
Sudan                         40813.00
Sudan (former)                    0.00
Togo                           7698.00
Tunisia                       11433.00
Uganda                        41167.00
United Republic of Tanzania   54660.00
Zambia                        16854.00
Zimbabwe                      14237.00

'e'

In [43]:
df.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4521
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64

In [45]:
df.groupby(['Element']).agg('max')

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,276.0,Zimbabwe,2961.0,Yams,5301.0,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
Export Quantity,276.0,Zimbabwe,2961.0,Yams,5911.0,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00
Fat supply quantity (g/capita/day),276.0,Zimbabwe,2961.0,Yams,684.0,g/capita/day,93.73,96.79,94.33,97.13,94.94
Feed,276.0,Zimbabwe,2960.0,Yams,5521.0,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
Food,276.0,Zimbabwe,2961.0,Yams,5142.0,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
Food supply (kcal/capita/day),276.0,Zimbabwe,2961.0,Yams,664.0,kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
Food supply quantity (kg/capita/yr),276.0,Zimbabwe,2961.0,Yams,645.0,kg,428.27,418.21,419.48,433.38,443.56
Import Quantity,276.0,Zimbabwe,2961.0,Yams,5611.0,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
Losses,276.0,Zimbabwe,2949.0,Yams,5123.0,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
Other uses (non-food),276.0,Zimbabwe,2961.0,Yams,5154.0,1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
Processing,276.0,Zimbabwe,2948.0,Wine,5131.0,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
Production,276.0,Zimbabwe,2961.0,Yams,5511.0,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
Protein supply quantity (g/capita/day),276.0,Zimbabwe,2961.0,Yams,674.0,g/capita/day,100.34,100.33,100.94,100.10,101.08
Residuals,276.0,Zimbabwe,2949.0,Yams,5170.0,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
Seed,276.0,Zimbabwe,2960.0,Yams,5527.0,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
Stock Variation,276.0,Zimbabwe,2961.0,Yams,5072.0,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
Total Population - Both sexes,276.0,Zimbabwe,2501.0,Population,511.0,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
Tourist consumption,193.0,Sao Tome and Principe,2949.0,Yams,5171.0,1000 tonnes,62.00,48.00,6.00,6.00,6.00

In [47]:
df.groupby(['Item']).sum()

C:\Users\CLASS\AppData\Local\Temp\ipykernel_216\1701463969.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Item']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447.0,752497.0,1515090.0,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016.0,1649136.0,2171381.0,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060.0,397035.0,90990.0,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279.0,1882494.0,2567303.0,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280.0,1352989.0,1920418.0,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779.0,1518715.0,2275409.0,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060.0,391905.0,90990.0,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073.0,1639683.0,2654934.0,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206.0,1319535.0,1818328.0,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798.0,970905.0,1525745.0,200396.96,203151.78,220626.20,229174.59,221272.09

In [48]:
df.groupby(['Element']).sum()

C:\Users\CLASS\AppData\Local\Temp\ipykernel_216\2707822162.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Element']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993.0,14197445.0,28068795.0,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910.0,11840553.0,26026133.0,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050.0,13535000.0,3435732.0,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272.0,3538507.0,7282199.0,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295.0,13285035.0,25406622.0,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057.0,13511060.0,3329296.0,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446.0,13185401.0,3163725.0,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174.0,13795966.0,28834929.0,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353.0,5424803.0,10292107.0,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554.0,4729749.0,8926728.0,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940.0,5350416.0,10313310.0,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751.0,10450053.0,21388191.0,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050.0,13535000.0,3385502.0,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271.0,12421089.0,24066350.0,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537.0,2035933.0,4211574.0,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566.0,11329527.0,21464704.0,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020.0,112545.0,22995.0,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308.0,1486528.0,2869905.0,416.00,349.00,89.00,91.00,90.00

In [ ]:
df.sum